extends layout 

block content
  - for (let i = 0; i < 10; i++) {
    .col-xs-12.d-flex.justify-content-center.mt-3
    div(class="card mb-3 " style="max-width: 540px;")
      .row.g-0
        .col-md-4
          img(src="/images/farouk.png", alt="avatar" class="img-fluid rounded-start")
        .col-md-8 
          .card-body
            h5.card-title Card title
            p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small.text-muted Last updated 2022-03-04 | 7:30 p.m. by<span class="fst-italic"> unknown</span>
              //- button(type="button" class="btn btn-outline-danger") Delete
  - }